<% if current_user %>
  <script>
    $(function() {
      Bling.load();
    });
  </script>
<% else %>

  <center>
    <h4>sign up for the most awesome bank ever!</h4>

    <h3>no transaction fees, we promise</h3>

    <h5><font color="lightgrey">fine text: we steal your money<font></h5>
  </center>

<% end %>


